.main{
    background: linear-gradient(323deg, #228fec, #00e99c); /*// // #1bedd8, #99f58b*/
    background-color: #60FF48;
    width: 100%;
    height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    
}

.main :nth-child(4){
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.laptopman{
    width: 78%;
    margin-left: 10px;
    margin-top:30px
    
}

.find_btt{
    color: white;
    width: 91px;
    height: 36px;
    border: 4px solid white;
    border-radius: 30px;
    background-color: #04BD86;
    font-family: cursive;
    font-weight: bold;
    font-size: 19px;
}