.menu_box{

   
    width: 100%;
    height: 100%;
    
    background-color: #01A66F;
    transition: 0.5s;
   position: absolute;
   z-index: 10;
   border-radius: 0 0 49px 0;
  visibility: visible;
}



.menu_box1{

    width: 0;
   height: 0;
   position: absolute;
   visibility: hidden;
   transition: 0.1s;
  
   
}

.close_icon{
    display: flex;
    justify-content: end;
    /* border: 2px solid red; */
    /* margin: 41px; */
    margin-top: 38px;
}


.close_icon img{
    width: 30px;
    height: 30px;
}

.menu_list{
display: flex;
flex-direction: column;
 /* border: 2px solid white; */

}

.menu_list h3{
    display: flex;
    justify-content: flex-start;
    padding-left: 33px;
    color: aliceblue;
}