.app{
    margin: 0;
    padding: 0;
    position: relative;
}
.nav_box{
    width: 100%;
   display: flex;
   flex-direction: column;
    border-radius: 38px;
    margin-top: -35px;
    background: linear-gradient(10deg, #26E7D3, #60FF48);
    padding-bottom: 7px;
}

.box{
    margin-top: 57px;
    width: 100%;
   
    /* border: 2px solid rgb(0, 76, 255); */
    display: flex;
    padding: 0 2% 0 5%;
}
.box img{
    height: 36px;
    width: 36px;
}