.profile_header{

    
    /* border: 2px solid red; */
    height: 60px;
    display: flex;
    margin-left: 29px;
    margin-top: 20px;
    


}
.profile_header :nth-child(2) {
   
    margin-left: 20px;
    font-family: cursive;
    @media screen and (min-width: 255px) and (max-width: 265px) {
       color: red;
      }
}


.profile_header :nth-child(3) {
    height: 50%;
    margin-left: 20px;
}