.main_topBox{
    height: 36%;
    width: 100%;
    background-color: #0096ff;
    display: flex;
    justify-content: center;
}


.second_box_strip{
    width: 70%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.personalbox{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -20px;
   box-shadow:  0px 0px 3px gray;
   border-radius: 2px;
   display: flex;
   align-items: center;
    justify-content: center;


}

.profile_circle{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
 
 
}

.profile_circle :nth-child(1){
    height: 80%;
    border-radius: 50px;
}

 .second_box_strip :nth-child(2){
color: white;
text-transform: uppercase;
}

/*.personalbox{
    display: flex;
    background-color: red;

} */


.option_first ,.option_second{

    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #807f7f;

}

.divider{
    border-left: 1px solid gray;
    height: 60%;
}