.profile_header{

    
    /* border: 2px solid red; */
    height: 60px;
    display: flex;
    margin-left: 29px;
    margin-top: 20px;
    


}
.profile_header :nth-child(2) {
   
    margin-left: 10px;
}


.profile_header :nth-child(3) {
    height: 50%;
    margin-left: 10px;
}