.user_option{

    width: 100%;
    /* background-color: aqua; */
    margin-top: 66px
}


.user_option h4{
    height: 20px;
    DISPLAY: flex;
    /* JUSTIFY-CONTENT: center; */
    ALIGN-ITEMS: center;
    padding-left: 25%;
    color: #7b7b7b;
    margin-left: 10px;
  
    font-size: 18px;
    margin-bottom: 35px;

}


.user_option h4 :nth-child(1){
    height: 100%;
    margin-right: 10px;
}

.button_box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.button_box button{
    width: 40%;
    height: 42px;
    border: none;
    background-color: #0096ff;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 3px;
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logout_button img{
    height: 80%;
}
